@import 'fonts';

p {
    margin: 0
}

.dropdown-menu {
    border-radius: 24px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: transparent;
    color: #00bcd4;
}

.add-idea .logo-container {
    margin-left: -36px; // TODO: dirty fix
}

@media (max-width: 480px) {
    .idea-item {
        display: block !important;

        & .label-container {
            padding-top: 16px !important;
            justify-content: flex-end;
        }
    }
}